*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.hero{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
    gap: 3%;

}
.left{
    border: 10px solid black;
    border-radius: 35px;
    box-shadow: 0px 0px 50px black;
    margin-left: -10%;
}
.login{
    align-items: center;
    /* border: 1px solid  black; */
    border-radius: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font: inherit;
    font-size: 100%;
    margin: 0px 0px 10px;
    padding: 10px 0px;
}
input{
    padding: 5px;
    margin: 3px 15px;
    text-align: left;
    height: 32px;
    width: 262px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #fafafa;
}
#butt{
    background-color: #4cb4f9;
    color: white;
    height: auto;
    width: 262px;
    padding: 7px;
    margin-top: 16px;
    border: none;
    border-radius: 8px;
    margin-bottom: 5px;
    cursor:default;
}
#h1{
    margin-bottom: 25px;
    margin-top: 45px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.or {
    line-height: 50px;
    margin-bottom:10px ;
}
button{
    border: none;
    background-color: white;
    color: #63618f;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
}
i{
    color: #63618f;
    margin-right: 5px;
}
.a{
    text-decoration: none;
    font-size: 13px;
}
#a{
    margin-top: 10px;
}
.right{
border: 2px solid #e8e8e8;
height: 395px;
width: 345px;
border-radius: 3px;
}
.lower{
    border: 2px solid #e8e8e8;
    margin-top: 35px;
    padding: 22px;
    text-align: center;
    border-radius: 3px;
}
h5{
    font-size: 15px;
}
#SignUP{
    text-decoration: none;
    color: #4095e6;
}
.lowermost{
    text-align: center;
    margin-top: 20px;
}
#img{
    height: 40px;
    margin-top: 20px;
}
.footer{
    margin-top: 70px;
    text-align: center;
}
#fott{
    text-decoration: none;
    padding:4px;
    color: #88837c;
}
.dropbtn {
    background-color: white;
    color: #88837c;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 13px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 2px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: blue;
    color: white;
    cursor: default;
}

  .dropdown:hover .dropdown-content {
    display: block;
  }
  